<%= form_for @qanda do |f| %>
<%= render 'shared/error_messages', object: @qanda %>

<div class="form-group">
	<%= f.label "#{ t 'qandas.form.question.label' }" %>
	<%= f.text_field :question, class: 'form-control',
	placeholder: "#{ t 'qandas.form.question.placeholder' }" %>
</div>

<div class="form-group">
	<%= f.label "#{ t 'qandas.form.answer.label' }" %>
	<%= f.text_area :answer, size: '10x10', class: 'form-control',
	placeholder: "#{ t 'qandas.form.answer.placeholder' }" %>
</div>

<div class="btn-group">
	<%= f.submit yield(:button_text), class: 'btn btn-primary' %>
</div>
<% end %>

<br>
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><%= link_to "#{ t 'form.link-back' }", qandas_path %>