<% provide(:title, 'Shopping List') %>
<h1>Flatshare Lists</h1>
<h2><span class="lead">What is needed for the shared flat (e.g. washing-up liquid, toilet paper, laundry detergent, etc.)?<br>Everyone should buy these things from time to time.</h2>

<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-12">
		<div class="panel panel-warning">
			<!-- panel contents -->
			<div class="panel-heading">
				<h3>Shopping List
					<a href="#" title="add something to list" data-toggle="modal" data-target="#shopping">
						<span class="glyphicon glyphicon-plus small" aria-hidden="true"></span></a>
					<%= link_to listitems_path, title: 'clean list', action: 'destroy', method: :delete do %>
						<span class="glyphicon glyphicon-remove small" aria-hidden="true"></span>
					<% end %>
				</h3>
			</div>
			<div class="list-group">
				<% @shopping_items.each do |item| %>
					<% if item.done? %>
					<a href="#" class="list-group-item"><del><%= item.item %></del></a>
					<% else %>
					<%= link_to item.item, listitem_path(item, "listitem[done]" => true), class: 'list-group-item', method: :put %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- shopping Modal -->
<div class="modal" id="shopping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add a new thing to buy</h4>
			</div>
			<%= form_for @shopping_item, url: {controller: 'listitems', action: 'create'}  do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<%= f.text_field :item, class: 'form-control', placeholder: 'Add a new item' %>
				</div>
			</div>
			<div class="modal-footer">
				<%= f.submit 'Save', class: 'btn btn-primary' %>
			</div>
			<% end %>
		</div>
	</div>
</div>

