<% provide(:title, 'Flatmates') %>
<h1>Who actually lives in this flat?</h1>
<h2><span class="lead">All Flatmates (<%= link_to "new flatmate", new_user_path %>)</span></h2>

<div class="row">
  <% @users.each do |user| %>
  <div class="col-md-4">
    <div class="media info">
      <div class="media-left">
        <div class="media-object">
          <%= image_tag user.picture.url, class: 'img-rounded' if user.picture? %>
        </div>        
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= user.name %></h4>
        <%= user.email if user.email? %></br>
        <%= "Phone: #{user.phone}" if user.phone? %></br>
        <%= "Birthday: #{user.birthday.to_s}" if user.birthday? %></br>
        <%= "Moved in: #{user.moved_in}" if user.moved_in? %></br>
        <%= "Moved out: #{user.moved_out}" if user.moved_out? %></br>
      </div>
      <p><%= "\"#{user.description}\"" if user.description? %></p>
      <%= link_to "edit", edit_user_path(user) %> |
      <%= link_to "delete", user, method: :delete, 
        data: { confirm: "Are you sure want to delete #{user.name}? Think about again!" } %>
    </div><br>
  </div>
  <% end %>  
</div>  
