<%= form_for @info do |f| %>
<!--%= render 'shared/error_messages', object: f.object %-->

<div class="form-group">
	<%= f.label :author %>
	<%= f.text_field :author, class: 'form-control',
	placeholder: 'your name please' %>
</div>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control',
	placeholder: 'concise title which describes content the best' %>
</div>

<div class="form-group">
	<%= f.label :content %>
	<%= f.text_area :content, class: 'form-control',
	placeholder: 'something new or flatshare related stuff...' %>
</div>

<div class="actions">
	<%= f.submit yield(:button_text), class: 'btn btn-primary' %>
</div>
<% end %>
