<%= form_for @info do |f| %>
<%= render 'shared/error_messages', object: @info %>

<div class="form-group">
	<%= f.label "#{ t 'info.form.title.label' }" %>
	<%= f.text_field :title, class: 'form-control',
	placeholder: "#{ t 'info.form.title.placeholder' }" %>
</div>

<div class="form-group">
	<%= f.label "#{ t 'info.form.content.label' }" %>
	<%= f.text_area :content, size: '10x10', class: 'form-control',
	placeholder: "#{ t 'info.form.content.placeholder' }" %>
</div>

<div class="btn-group">
	<%= f.submit yield(:button_text), class: 'btn btn-primary' %>
</div>
<% end %>

<br>
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><%= link_to "#{ t 'info.form.link-back' }", infos_path %>