<% provide(:title, 'Archive') %>
<h1>Infos & News Archive</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% @infos.each do |info| %>
		<div class="row info">
			<div class="col-md-2 col-sm-2 col-xs-4">
				<%= image_tag info.user.picture.url, class: 'img-rounded' if info.user.picture? %><br>
				<%= info.user ? info.user.name : "Deleted User" %><br>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-8">
				<span class="small"><%= info.created_at %></span>
				<h3>
					<%= link_to info.title, info_path(info) %>
					<span class="small">(<%= info.comments.count %> comment(s))</span>
				</h3>
				<%= simple_format(info.content) %>
			</div>
		</div>
		<% end %>
	</div>

</div>