<% provide(:title, 'Infos/News') %>
<h1>Infos & News</h1>
<h2><span class="lead">What's new in our shared flat community? <br>Write a new <%= link_to 'Info/News', new_info_path %></span><br>
	<span class="small"><%= link_to 'Archived Infos/News', archived_infos_path %>
		(<%= @archived_count %>)</span>
</h2>

<div class="row">
	<!-- left content -->
	<div class="col-md-8">
		<% @infos.each do |info| %>
		<div class="row info">
			<div class="col-md-2">
				<%= image_tag info.user.picture.url, class: 'img-rounded' if info.user.picture? %>
				<%= info.user ? info.user.name : "Deleted User" %><br>
				<%= link_to 'Edit', edit_info_path(info) %> |
				<%= link_to 'to archive', info_path(info, "info[archived]" => true), method: :put %>
			</div>
			<div class="col-md-9">
				<span class="small"><%= info.created_at %></span>
				<h3>
					<%= link_to info.title, info_path(info) %>
					<span class="small">(<%= info.comments.count %> comment(s))</span>
				</h3>
				<p><%= info.content %></p>
			</div>
		</div>
		<% end %>
	</div>

	<!-- right marginal column -->
	<div class="col-md-4">
		<div class="col-md-12">
			<p>You live here:</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.6145709826096!2d13.38693212634847!3d52.55849642345481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a8523c83cbea91%3A0x47935e1cf6016386!2sSoldiner+Str.+88%2C+13359+Berlin!5e0!3m2!1sde!2sde!4v1446249804238" width="280" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-12">
			<p>BVG-Info<br>(Public Transport System in Berlin)</p>
			<iframe src="http://www.bvg.de/bvgapi/WebWidgets/fahrinfo.html?c=1&w=300&t=6&f=" width="280" height="400" name="iFrame">
				<p>Wir setzen auf Frames zur Anzeige von externen Inhalten. Wir sind leider nicht in der Lage, andere Möglichkeiten zu nutzen. Sie können die eingebettete Funktion hier nutzen: <a href="http://fahrinfo.bvg.de/Fahrinfo/bin/">Fahrinfo der BVG</a></p>
			</iframe>
		</div>
	</div>

</div>
