<% provide(:title, 'Infos/News') %>
<h1><%= t 'info.index.title' %></h1>
<h2><span class="lead"><%= t 'info.index.sub-headline' %></span><br>
    <div class="btn-group">
      <%= submit_tag "+ #{ t 'info.index.submit-title' }", type: 'button',
                     onclick: "location.href = '#{ new_info_path }'",
                     class: 'btn btn-success' %>
    </div> |
	<span class="small"><%= link_to "#{ t 'info.index.archive-link' }", archived_infos_path %>
		(<%= @archived_count %>)</span>
</h2>

<div class="row">
	<!-- left content -->
	<div class="col-md-8">
		<% @infos.each do |info| %>
		<div class="row info">
			<div class="col-md-2 col-sm-2 col-xs-3">
        <% if info.user && info.user.picture? %>
          <%= image_tag info.user.picture.url(:default), class: 'img-rounded' %>
        <% else %>
          <%= image_tag 'default_img.png', class: 'img-rounded' %>
        <% end %>
				<%= info.user ? info.user.name : content_tag(:i, "#{ t 'users.deleted-user' }") %><br>
				<%= link_to "#{ t 'info.index.link.edit' }", edit_info_path(info) %> |
				<%= link_to "#{ t 'info.index.link.to-archive' }", info_path(info, "info[archived]" => true), method: :put %>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-9">
				<span class="small"><%= l info.created_at, format: :short %></span>
				<h3>
					<%= link_to info.title, info_path(info) %>
					<span class="badge"><%= info.comments.count if info.comments.count > 0 %></span>
				</h3>
				<%= simple_format(info.content) %>
			</div>
		</div>
		<% end %>
	</div>

	<!-- right marginal column -->
	<%= render 'marginal_col' %>
</div>
