<% provide(:title, 'Info') %>
<div class="row">
  <h2><%= @info.title %> 
  	<%= link_to edit_info_path(@info) do %>
  		<span class="glyphicon glyphicon-pencil"></span>
  	<% end %>
  </h2>
  <div class="col-md-6 col-md-offset-3">
	<p><%= @info.user.name %></p>
	Created: <%= @info.user.created_at %> |
	Updated: <%= @info.user.updated_at %><br>
	<p><%= @info.content %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h3>Comments</h3>
	<%= render @info.comments %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h4>Add a comment:</h4>
	<%= render 'comments/form' %>
  	<%= link_to 'Back', infos_path %>
  </div>
</div>
