  	<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
  			<%= link_to "Flatshare App", root_path, id: "logo" %>
  			<nav>
  				<ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
  					<li><%= link_to "News",   '#' %></li>
  					<li><%= link_to "Q&A",   '#' %></li>
  					<li><%= link_to "Rules",  rules_path %></li>
  					<li><%= link_to "Home",   '#' %></li>
  					<li><%= link_to "Home",   '#' %></li>
  					<li><%= link_to "Home",   '#' %></li>
  				</ul>
  			</nav>	
  		</div>
  	</header>