	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Flatshare App", root_path, id: "logo" %>
				<!--a class="navbar-brand" href="/">Flatshare App</a-->
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",          	root_path %></li>
					<li><%= link_to "Infos",          	infos_path %></li>
					<!--li><%= link_to "Q&A",        	'#' %></li-->
					<li><%= link_to "House Rules",    	rules_path %></li>
					<!--li><%= link_to "Calendar",    	'#' %></li-->
					<!--li><%= link_to "Housework Rota", 	'#' %></li-->
					<li><%= link_to "Flatmates",     	users_path %></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</header>
